[flake8]
ignore = D203, W503
select = Q0
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
max-complexity = 10
max-line-length = 100
