repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        types: [ yaml ]
      - id: check-toml
        types: [ toml ]
      - id: check-merge-conflict
      - id: check-ast
        types: [ python ]
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject
        name: Validate pyproject.toml
        additional_dependencies: ["validate-pyproject-schema-store[all]"]
  - repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
      - id: yapf
        name: "yapf"
        additional_dependencies: [toml]
        args: [ '--style', 'pyproject.toml', '--parallel', '--in-place' ]
        stages: [ commit ]
        types: [ python ]
      - id: yapf
        name: "yapf (check)"
        additional_dependencies: [toml]
        args: [ '--style', 'pyproject.toml', '--diff' ]
        stages: [ manual ]
        types: [ python ]
  - repo: https://github.com/pycqa/isort
    rev: 6.0.0
    hooks:
      - id: isort
        name: isort
        stages: [ commit ]
        types: [ python ]
      - id: isort
        name: isort (check)
        args: [ '--check-only' ]
        stages: [ manual ]
        types: [ python ]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies: [flake8-quotes==3.3.2]
  - repo: local
    hooks:
      - id: copy-docstrings
        name: Copy docstrings based on markers
        entry: python .pre-commit-hooks/expand_docstring_macros.py
        language: system
        types: [python]
        stages: [commit]
